.fa-magnifying-glass {
    cursor: pointer;
    height: 40px;
}

.fa-magnifying-glass:hover, .dark-theme .fa-magnifying-glass:hover {
    color: white;
    background-color: #0d6efd;
}

.dark-theme .fa-magnifying-glass {
    background-color: darkgray;
}

.Searchbar {
    width: clamp(200px, 30vw, 400px);
    height: 40px;
}

@media only screen and (max-width: 575px) {
    .Search {
        width: 80vw;
    }
}