button {
    width: 150px;
}

.Topbar {
    background-color: whitesmoke;
    width: 100vw;
}

.dark-theme {
    background-color: black !important;
}

.btn-success {
    text-transform: capitalize;
}