.Main__title-name {
    color: #131313;
    letter-spacing: .1em;
    text-shadow: 1px -1px #767676;
}

button {
    width: 100px;
}

.dark-theme {
    background: black;
    color: white;
    .Main__title-name {
        color: white;
    }
}

.light-theme {
    
}