.Main__title-name {
    color: #131313;
    letter-spacing: .1em;
    text-shadow: 1px -1px #767676;
}

.dark-theme {
    background: black;
    color: white;
    .Main__title-name {
        color: white;
    }
}

.Link {
    text-decoration: none;
}

.Main {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}